@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');


/*

font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
*/





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body {

    font-family: 'Poppins', sans-serif;

}

img {
    max-width: 100%;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    min-height: 80vh;
    background-color: #f5f5f5;
    padding: 70px 0;
}





.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    font-size: 25px;
    color: #111111;
    text-transform: uppercase;
    font-weight: 800;
    margin-left:
    
}




.menu .navbar ul li {
    position: relative;

    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #111111;
    display: block;
}

#menu {
    display: none;
}


.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}


.submenu {
    position: relative;
    margin-right: 20px;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4e4b5076;
    padding: 20px;
    min-width: 400px;

}

table {
    width: 100%;
}

th,
td {
    color: #ffffff;
}


.borrar {
    background-color: #111111;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
}



.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0 200px;

}



    

/* Estilos para la p치gina "Sobre Nosotros" */
.sobre-nosotros {
    background-color: #fff;
    padding: 50px;
    color: #111111;
    font-family: 'Oswald', sans-serif;
}

.sobre-nosotros h2 {
    font-family: 'Oswald';
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 800;
}

.sobre-nosotros p {
    font-family: 'Poppins';
    font-size: 18px;
    margin-bottom: 20px;
}

.sobre-nosotros h3 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Oswald';
}

.nosotros{
    display: none;
}

.nosotros h1{
    color:#111111;
    font-family: 'Oswald', sans-serif;
    font-size: 3.5rem;
}

/* Estilos para el formulario de contacto */




.contact-form {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
}

.form-group textarea {
    resize: vertical;
}

.btn-2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #111111;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.btn-2:hover {
    background-color: #333;
}

/* Estilos para la rese침a e historia de la empresa */









/**PRODUCTOS*/
.gaming-header h1 {
    color: #f5f5f5;
    color: transparent;
}

.gaming-header{
    background-image: url(/IMG/Gaming.jpg); 
    background-size: cover; 
    background-position: center;
    flex-basis: 50%;
    text-align: center;
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0 200px;
}

.gaming-header img{
    width:100%;
    height:auto;

}


.header-img {
    flex-basis: 50%;
    text-align: center;
}




.header-txt {
    flex-basis: 50%;
    text-align: center;
    font-size: 90px;
    text-transform: uppercase;
    line-height: 1;
    color: #111111;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 15px;
}


.header-txt p {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}



.btn-1 {
    display: inline-block;
    padding: 11px 25px;
    background-color: #111111;
    color: #ffffff;
    border-radius: 5px;
}


.ofert {

    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-between;


}

.ofert-1 {
    display: flex;
    align-items: center;
    flex-basis: calc(33.3% - 15px);
    background-color: #f5f5f5;
    padding: 35px;


}

.ofert-img {
    flex-basis: 50%;
    margin-right: 15px;
}

.ofert-img img {
    width: 250px;
}

.ofert-txt {
    flex-basis: 50%;
    text-align: center;
}

.ofert-txt h3 {

    color: #111111;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

.ofert .btn-2 {

    display: inline-block;
    padding: 7px 10px;
    background-color: #111111;
    color: #ffffff;
    border-radius: 5px;
    font-size: 15px;

}


.products {
    padding: 50px 0;
    text-align: center;
}

.products h2 {

    color: #111111;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;

}


.product-content {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;

}


.product {

    text-align: center;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

}

.product a {
    display: inline-block;
    padding: 7px 10px;
    background-color: #111111;
    color: #ffffff;
    border-radius: 5px;
    font-size: 15px;

}

.product img {

    width: 350px;
    height: 370px;
    margin-bottom: 20px;
}

.product h3 {

    font-size: 20px;
    text-transform: uppercase;
    color: #111111;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 15px;
}


.product p,
.precio {

    font-size: 16px;
    color: #111111;
    margin-bottom: 15px;


}

.precio {
    font-weight: 800;
}


.icons {

    padding: 50px 0 100px 0;
    display: flex;
    justify-content: space-between;
}


.icon {
    flex-basis: calc(33.3% - 30px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background-color: #f5f5f5;
}

.icon img{
    padding-right: 25px;
    height: 40px;
    
}
.icon-txt   h3{
    font-size: 20px;
    color: #111111;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    bottom: 25px;

}

.icon-txt p {
    font-size: 16px;
    color:#111111;

}


.blog{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.blog-1 {
    flex-basis: calc(33.3% - 30px);
}

.blog-1 img{
    margin-bottom: 20px;
}

.blog-1 h3 {

    font-size: 20px;
    color:#111111;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase ;
    margin-bottom: 15px;


}

.blog-1 p {
    font-size: 16px;
    color: #111111;
}


/***FOOTER**/

.footer{
    background:#111111;
    padding:30px 0px;
    font-family: 'Oswald', sans-serif;
    text-align:center;
    top: 0;
    }
    
    .footer .links{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .links a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .links a:hover{
    color:#fff;
    }
    
    .footer .links ul{
    width:100%;
    }
    
    .footer .links ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .links a i{
    font-size:2em;
    margin:0% 1%;
    }

    iframe{
        
        float: left;

    }



/* Estilos para el formulario de registro */

.registro-form {
    font-family: 'Poppins', sans-serif;
    background-color: #111111;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    width: 620px;
    position: relative;
    
}

.registro-form h2 {
    font-size: 30px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.registro-form label {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 5px;
}

.registro-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #111111;
    border-radius: 5px;
    
}

.registro-form button {
    background-color: #f5f5f5;
    color: #11111;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}






@media (max-width:991px) {

    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }
    
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #181818;
        display: none;
    }

    .menu .navbar{
        width: 100%;
    }

    .menu .navbar ul li a { 
        color: #ffffff;
    }

    #menu:checked ~ .navbar{  /** MENU HAMBURGUESA**/
        display: initial;
        
    }

    .logo {
        display: none;
    }

    .submenu:hover #carrito {
        min-width: 100%;
    }

    .header{
        min-height: 0vh;
    }

    .header-content{
        padding: 50px 0;
        flex-direction: column;
    }

    .header-img{
        display: none;
    }


    .header-txt{
        flex-basis: 100%;
        text-align: center;
    }

    .header-txt h1 {
        font-size: 70px;
    }

    .header-txt a{
        font-size: 50px;
    }


    .ofert{

        padding: 30px 30px 0 30px;
        flex-direction: column;

    }


    .ofert-1{
        margin-bottom: 30px;
    }

    
    .products {
        padding: 0 30px 30px 30px;

    }

    .products h2{
        margin-bottom: 30px;
    }

    .product-content{
        grid-template-columns: repeat(1,1fr);
        gap: 30px;

    }

    .product img {
        height: 280px;
        width: 200px;
    }


    .icons {
        padding: 30px;
        flex-direction: column;
    }

    .icon{
        margin-bottom: 30px;
    }


    .blog{
        padding: 0 30px 30px 30px;
        flex-direction: column;
    }

    .blog-1{
        margin-bottom: 30px;
    }

   .footer{
    padding: 30px;


    }


    .footer-content {
        flex-direction: column;
        text-align: center;
    }


}


/* Estilos para pantallas grandes (escritorio y tablet) */

@media (min-width: 992px) and (max-width: 2560px) {
    
    body {
        font-size: 18px; 
    }

    .header {
        padding: 70px 0; 
    }

    .menu {
        padding: 0px; 
        margin-left: 20px;
    }


    .submenu{
        margin-right: 25px;
    }
    

    .footer {
        padding: 30px; /
    }

    .footer-content {
        
    }
}

/* Estilos para tama침os de pantalla de televisores (m치s de 2560px) */
@media (min-width: 2561px) {
    /* Estilos para televisores */

    body {
        font-size: 24px; 
    }

    .header {
        padding: 150px 0; 
    }

    .menu {
        padding: 0px; 
        margin-left: 30px;
    }

    .submenu{
        margin-right: 30px;
    }

    .footer {
        padding: 50px; 
    }

    .footer-content {
        
    }
}

